{% extends 'inicio.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4>{{ titulo }}</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <h5>Datos de Usuario</h5>
                        {{ u_form.as_p }}
                        <hr>
                        <h5>Datos Institucionales</h5>
                        {{ p_form.as_p }}

                        <div class="mt-4">
                            <button type="submit" class="btn btn-success btn-block">Guardar Cambios</button>
                            <a href="{% url 'lista_funcionarios' %}" class="btn btn-secondary btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
